<div class="row">
  <div class="coll-xs-12">
    <form (ngSubmit)="addIngredient(shoppingForm)" #shoppingForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            name="ingredientName"
            ngModel
            type="text"
            id="name"
            class="form-control"
            placeholder="Ingredient Name"
            required
            #name="ngModel"
          />
          <p *ngIf="!name.valid && name.touched">Please fill in a name!</p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            name="ingredientAmount"
            ngModel
            type="number"
            id="amount"
            class="form-control"
            required
            #amount="ngModel"
          />
          <p *ngIf="!amount.valid && amount.touched">Please fill in the amount!</p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="unit">Unit</label>
          <input
            name="ingredientUnit"
            ngModel
            type="text"
            id="unit"
            class="form-control"
            required
            #unit="ngModel"
          />
          <p *ngIf="!unit.valid && unit.touched">Please fill in the unit!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!shoppingForm.form.valid"
          >
            Add
          </button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
